@import 'constants';

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);


.addToQueue {
  bottom: 0;
  right: 0;
  padding-bottom: $hudMargin;
  padding-right: $hudMargin;
  position: fixed;
}

i {

  &.material-icons{
    font-size: 1.5rem;
    color: white;
    background-color: $red;
    position: relative;
    border-radius: 50%;
    padding: 5px;
    margin: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
    border: 4px solid $red;

    &:hover{
      color: $red;
      background-color: white;
      transform: rotate(90deg);
      cursor: pointer;
      border: 4px solid $red;
    }
  }
}

@media (min-width:601px) {
  i.material-icons {
    padding:10px;
    margin:5px;
    font-size:2rem;
  }
}

@media (min-width:993px) {
  i.material-icons {
    padding:20px;
    margin:10px;
    font-size:4rem;
  }
  i.material-icons:after {
    border-width:3px;
    top:-3px;
    left:-3px;
  }
}

