@import 'constants';

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
* {
  font-family: "Roboto", Arial, sans-serif;
}

.addToQueue {
  top: 80%;
  left: 90%;
}

i {

  &.material-icons{
    font-size: 1.5rem;
    color: white;
    background-color: $red;
    position: relative;
    border-radius: 50%;
    padding: 5px;
    margin: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;

    &:after{
      content: "";
      width: 100%;
      height: 100%;
      border: solid 2px $red;
      transform: scale(0.8);
      position: absolute;
      top: -2px;
      left: -2px;
      border-radius: 50%;
      transition: all 0.3s ease;
    }

    &:hover{
      color: $red;
      background-color: white;
      transform: rotate(90deg);
      cursor: pointer;
      box-shadow: none;
    }

    &:hover:after{
      transform: scale(1);
      box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
    }

  }
}

@media (min-width:601px) {
  i.material-icons {
    padding:10px;
    margin:5px;
    font-size:2rem;
  }
}

@media (min-width:993px) {
  i.material-icons {
    padding:20px;
    margin:10px;
    font-size:4rem;
  }
  i.material-icons:after {
    border-width:3px;
    top:-3px;
    left:-3px;
  }
}

