@import 'constants';

@media screen and (max-width: $screen-xs) {
  .drawer {
    position: absolute;
    right: 0;
    width: 0;
    overflow: hidden;
    padding:0;
    background: $transparentGreyWhite;
    border-radius: 10px;
    height: 100%;

    &.active {
      width: 18em !important;
    }

    -webkit-transition: width 2s ease 0s;
    -moz-transition: width 2s ease 0s;
    -o-transition: width 2s ease 0s;
    transition: width 2s ease 0s;
  }
}