@import 'constants';

@media screen and (max-width: $screen-xs) {
  .drawer-container{
    position: absolute;
    right: 0;
    width: 18em !important;
    overflow: hidden;
    padding:0;
    height: 100%;
  }

  .drawer {
    position: absolute;
    right: -18em;
    width: 0;
    overflow: hidden;
    padding:0;
    background: $transparentGreyWhite;
    border-radius: 10px;
    height: 100%;
    opacity: 0;

    &.active {
      right: 0;
      opacity: 1;
    }

    -webkit-transition: all 200ms ease 0s;
    -moz-transition:    all 200ms ease 0s;
    -o-transition:      all 200ms ease 0s;
    transition:         all 200ms ease 0s;

    -webkit-transition-property: right, opacity;
    -moz-transition-property: right, opacity;
    -o-transition-property: right, opacity;
    transition-property: right, opacity;
  }
}