@import "constants";

@mixin small-screens($fontSize) {
  @media screen and (max-width: $screen-xs){
    font-size: $fontSize;
  }
}

.landingModalContent {
  background-color: $transparentGreyWhite;
  text-align: center;
  list-style-position: inside;
  font-size: 150%;
  @include small-screens(100%);
}

.landingGreeting {
  font-size: 250%;
  overflow-x: hidden;
  @include small-screens(150%)
}

.landingNameChooser input[type='text'] {
  font-size: 150%;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
  border: 0;
  padding: 0.5rem;
  @include small-screens(150%);
}

.landingButton {
  margin: 1rem;
  padding: 0.5rem;
  background-color: $darkGray;
  border: 1px solid $darkGray;
  color: white;
  text-align: center;

  &:hover {
    background-color: $transparentGreyWhite;
    border: 1px solid $darkGray;
    color: black;
    cursor: pointer;
  }
}