@import "constants";


.landingModalContent {
  background-color: $transparentGreyWhite;
}

.landingGreeting {
  font-size: 250%;
  margin-bottom: 2rem;
  overflow-x: hidden;
}

.landingNameChooser input[type='text'] {
  font-size: 150%;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
  border: 0;
  padding: 0.5rem;
}

.landingButton {
  margin: 1rem;
  padding: 0.5rem;
  background-color: $darkGray;
  border: 1px solid $darkGray;
  color: white;
  text-align: center;

  &:hover {
    background-color: $transparentGreyWhite;
    border: 1px solid $darkGray;
    color: black;
    cursor: pointer;
  }
}

.modal-dialog {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  margin: 0 auto;
}