@mixin small-screens-fontSize($screenSize, $fontSize) {
  @media screen and (max-width: $screenSize){
    font-size: $fontSize;
  }
}

.pull-right-canvas {
  position: absolute;
  right: 1em;
}

.margin-top {
  margin-top: 1em;
}

.btn.outline {
  background: none;
}

.btn-default.outline {
  border: 2px solid dimgray;
  color: dimgray;
}