@import "constants";
@import "utilities";

.winners-circle-content {
  background-color: $transparentGreyWhite;
  text-align: center;
  list-style-position: inside;

  .winners-title {
    font-size: 500%;
    font-family: $gameFont;
    @include small-screens-fontSize($screen-xs, 300%);
  }

  li {
    transition: all .2s ease-in-out;
    font-family: $gameFont;
    &:hover{
      transform: scale(1.3);
    }

    &:nth-of-type(1){
      font-size: 450%;
      @include small-screens-fontSize($screen-xs, 200%);
    }

    &:nth-of-type(2){
      font-size: 300%;
      @include small-screens-fontSize($screen-xs, 150%);
    }

    &:nth-of-type(3){
      font-size: 250%;
      @include small-screens-fontSize($screen-xs, 100%);
    }
  }
}