@import 'constants';

// Component Imports
@import "addToQueueButton";
@import "hudList";
@import url(https://fonts.googleapis.com/css?family=Cabin);

body {
  background: #eae1cc; /* fallback for old browsers */
}

s
canvas{ position: absolute; z-index: $canvasZIndex }

.hud{
  z-index: $hudZIndex;
}

.hud .localClient {
  color: #8e8e8e;
}

#hudColumn {
  float: right;
  width: 20em;
}