@import 'constants';

// Component Imports
@import "addToQueueButton";
@import "hudList";
@import "statusMessages";
@import "powerupElection";
@import "winnersCircle";
@import "landingPage";
@import url(https://fonts.googleapis.com/css?family=Cabin);

body {
  background: $background; /* fallback for old browsers */
  font-family: "Roboto", Arial, sans-serif;
}

canvas{
  position: absolute;
  z-index: $canvasZIndex;
  left: 0px;
  top: 0px;
}

.hud{
  z-index: $hudZIndex;
}

.hud .localClient {
  color: $veryLightGray;
}

.grayed {
  color: $veryLightGray;
}

#hudColumn {
  float: right;
  width: 16em;
}

@media only screen and (max-width: 632px){
  #hudColumn {
    display: none;
  }
}